<!-- Incluye el header con head, navbar y apertura del main -->
<%- include('./partials/header.ejs') %>

    <!-- Muestra el título y mensaje de error recibido del controlador -->
    <h1>Error</h1>
    <p>
        <%= message %>
    </p>
    <!-- Enlace para volver a la lista de topics -->
    <a href="/topics">Volver a Temas</a>

    <!-- Incluye el footer con cierre del main y scripts -->
    <%- include('./partials/footer.ejs') %>